<form [formGroup]="taskForm" (submit)="addTask()">
  <mat-form-field>
    <mat-label>Task Title</mat-label>
    <input
      matInput
      placeholder="Enter the title here"
      formControlName="title"
      [errorStateMatcher]="matcher"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Task Description</mat-label>
    <textarea
      matInput
      placeholder="Enter the description here"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Sumbit</button>
</form>
