.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 75%;
}
.section {
  margin: 0 2rem;
}

.section:first-child {
  max-height: 100%;
  width: 60%;
  overflow-y: scroll;
}

.section:nth-child(2) {
  max-height: 85vh;
  width: 40%;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column-reverse;
  }
  .section:first-child {
    width: 95%;
  }
  .section:nth-child(2) {
    width: 95%;
  }
}
